<h2>Welcome!</h2>

<p>Welcome to the home page for this project.</p>
<p>To view all amiibo, click here</p>
<p>To view all amiibo series, click here</p>
<p>To view all character that have amiibo, click here</p>
<p>To view all games that character come from, click here</p>